[buildout]
index = http://d.pypi.python.org/simple
parts = 
	lxml
	psycopg2
	supervisor
	tryton
	tryton-config
	postgresql
	postgresqlinit
	py

versions = versions
download-cache = /var/tmp
develop = 

[versions]
lxml = 2.2.6

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml

[tryton]
recipe = zc.recipe.egg
eggs =
	PasteScript
	trytond
	trytond_account
	trytond_currency
	trytond_party
	trytond_country
	trytond_company

#	trytond_account_invoice
#	trytond_account_invoice_history
#	trytond_account_product
#	trytond_account_statement
#	trytond_analytic_account
#	trytond_analytic_invoice
#	trytond_analytic_purchase
#	trytond_analytic_sale
#	trytond_calendar
#	trytond_calendar_scheduling
#	trytond_calendar_todo
#	trytond_company
#	trytond_country
#	trytond_google_maps
#	trytond_google_translate
#	trytond_party
#	trytond_product
#	trytond_product_price_list
#	trytond_project
#	trytond_project_revenue
#	trytond_sale
#	trytond_sale_price_list
#	trytond_timesheet

[tryton-config]
recipe = collective.recipe.template == 1.8
interface = 0.0.0.0
admin_passwd = admin
db_host = localhost
db_port = 24005
db_user = tryton
db_password = tryton
input = ${buildout:directory}/trytond.conf.in
output = ${buildout:directory}/etc/trytond.conf

[psycopg2]
recipe = collective.recipe.distutils
url = http://www.initd.org/pub/software/psycopg/psycopg2-2.0.14.tar.gz

[postgresql]
recipe = zc.recipe.cmmi
url = ftp://ftp.postgresql.org/pub/source/v8.4.4/postgresql-8.4.4.tar.bz2
md5sum = 4bf2448ad965bca3940df648c02194df
extra_options =
    --with-pgport=${tryton-config:db_port}

[postgresqlinit]
recipe = iw.recipe.cmd
on_install = true
on_update = false
datadir = ${buildout:directory}/var/postgresql
cmds =
    test -e ${buildout:directory}/bin/psql || \
        ln -s ${postgresql:location}/bin/psql ${buildout:directory}/bin/psql
    test -e ${postgresqlinit:datadir} && exit 0
    ${postgresql:location}/bin/initdb --encoding=unicode ${postgresqlinit:datadir}
    ${postgresql:location}/bin/postgres --single -D ${postgresqlinit:datadir} \
            template1 << EOF
        CREATE USER ${tryton-config:db_user} WITH PASSWORD '${tryton-config:db_password}' CREATEDB ;
    EOF
    echo 'host all ${tryton-config:db_user} 0.0.0.0/0 md5' \
        >> ${postgresqlinit:datadir}/pg_hba.conf
    echo "listen_addresses = '*'" >> ${postgresqlinit:datadir}/postgresql.conf
    echo "log_connections = on" >> ${postgresqlinit:datadir}/postgresql.conf
    echo "log_statement = 'all'" >> ${postgresqlinit:datadir}/postgresql.conf

[py]
recipe = zc.recipe.egg
eggs = zc.recipe.egg
extra-paths = 
	${buildout:directory}/parts/site-packages/
	${buildout:directory}/develop-eggs/
dependent-scripts = true
interpreter = py

[supervisor]                                                                                                                                                           
recipe = collective.recipe.supervisor
port = 127.0.0.1:24001
serverurl = http://127.0.0.1:24001
programs =
	10 postgresql   ${postgresql:location}/bin/postgres [-D ${postgresqlinit:datadir}] ${postgresql:location} true
	20 trytond      ${buildout:directory}/bin/py [ ${buildout:directory}/tools/trytond -c ${buildout:directory}/etc/trytond.conf ] ${buildout:directory} true

